.clearfix{
	*zoom:1
}
.clearfix:before{
	content:"";display:table
}
.clearfix:after{
	content:"";
	display:table;
	clear:both
}
body{
	font: 14px/1.5 Helvetia,"Microsoft YaHei","lucida Grande",Verdana,Arial;
	margin: 0;
}
.hide{
	display: none;
}
.show{
	display: inline;
}
.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../image/icon_main.png);
	background-repeat: no-repeat;
}
.custom_menu_input_bar{
	position:absolute;
	height:40px;
	bottom:81px;
	right:22px;
	width:272px;
	background-color:#f1f1f1;
}
.custom_menu_input_area{
	height:32px;
	margin-top:4px;
	margin-left:10px;
	padding-left:4px;
	border:1px solid #ccc;
	border-color:#e1dfda;
	border-radius: 3px;
	width:210px;
}
.custom_menu_submit_button{
	height:30px;
	width:36px;
	position:absolute;
	bottom:4px;
	right:10px;
	border:1px solid #ccc;
	border-color:#e1dfda;
	border-radius: 3px;
	background-color: white;
	cursor:pointer;
}
.icon_sendMsg{
	margin-top:8px;
	margin-left:8px;
	width: 20px;
	height: 14px;
	background-position: 0 -32px;
}
.switch_button{
	position:absolute;
	bottom:81px;
	right:294px;
	height:40px;
	width:47px;
	cursor:pointer;
}
p.button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.loginTip{
	cursor: pointer;
}
#login_container{
	background:#4E5359 url(../image/bg_universal.png) repeat 0 0;
}
.unsubscribe_button{
	height: 50px;
	width: 50px;
	border:1px solid;
	border-color:#e1dfda;
	border-radius: 25px;
	position: absolute;
	right: 181px - 25;
	bottom: 41px - 25;
	cursor:pointer;
}
.icon_unsubscribe{
	margin:17px;
	vertical-align:middle;
	width: 16px;
	height: 16px;
	background-position: -32px -128px;
}